body{
    background-image: url('../assets/background-image.16.jpeg');
    color:#e8f4f8;
    font-family:'Cinzel', serif;
}

p{
    margin:0;
    font-size:13px;
}

h1{
    font-size:16px;
    font-weight:400;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    margin:50px;
    border-radius:20px;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a1f35;
    opacity:0.9;
    border: 2px solid #4b91b4;
    color: #e8f4f8;
    border-radius: 10px;
    cursor: pointer; 
    font-family:'Cinzel', serif;
}

button:hover {
    background-color: #4b91b4;
    color: #0a1f35;
    border:2px solid #0a1f35;
    transition: 0.2s;
}

#sample-data-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top:30px;
    width:80%
}

.sample-data {
    display:flex;
    flex-direction:column;
    gap:2px;
    border-radius:10px;
    padding:20px;
    background-color:#081B2B;
    opacity:0.9;
    cursor: pointer;
    overflow: hidden;
}

.sample-data p{
    margin:3px;
}

.sample-data:hover {
    transform: translateY(-10px);
    transition: 0.2s;
    border:3px solid #4A86A3;
    
}

.name{
    font-weight:700;
}


.header {
    display:flex;
    flex-direction:row;
    gap:15px;
}

.country,
.role {
    border-radius:18px;
    padding:0px 10px;
    font-size:12px;
    
}

.country {
    border:2px solid #ef4444;
    background-color:#241f1f;
    color:#ef4444;
}

.role {
    border:2px solid #f59e0b;
    background-color:#241f1f;
    color:#f59e0b;
}

.profile-photo {
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    padding-bottom:15px;

}

.details{
    display:flex;
    flex-direction: row;
    color:#94b8cc;
}


.details p:first-child {
    width: 90px; /* fixed width for labels */
    font-weight: bold;
}   

.details p:last-child {
    flex: 1; 
}

/* User Profile Builder */

