body{
    background-image: url('../assets/hero.jpeg');
    background-size: cover;
    background-attachment: fixed;
    color:#e8f4f8;
    font-family:'Cinzel', serif;
}

p{
    margin:0;
    font-size:13px;
}

h1{
    font-size:16px;
    font-weight:400;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    margin:30px 50px;
    border-radius:20px;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a1f35;
    opacity:0.9;
    border: 2px solid #4b91b4;
    color: #e8f4f8;
    border-radius: 10px;
    cursor: pointer; 
    font-family:'Cinzel', serif;
}

button:hover {
    box-shadow: 0 10px 25px rgba(75, 145, 180, 0.3);
}

#sample-data-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top:30px;
    width:80%
}

.sample-data {
    display:flex;
    flex-direction:column;
    gap:2px;
    border-radius:10px;
    padding:20px;
    background-color:#081B2B;
    opacity:0.9;
    cursor: pointer;
    overflow: hidden;
}

.sample-data p{
    margin:3px;
}

.sample-data:hover {
    transform: translateY(-10px);
    transition: 0.2s;
    border:3px solid #4A86A3;
    box-shadow:0 10px 25px rgba(75, 145, 180, 0.3);
    
}

.name{
    font-weight:700;
}


.header {
    display:flex;
    flex-direction:row;
    gap:15px;
    margin:10px 0px;
}

.country,
.role {
    border-radius:18px;
    padding:0px 10px;
    font-size:12px;
    
}

.country {
    border:2px solid #ef4444;
    background-color:#241f1f;
    color:#ef4444;
}

.role {
    border:2px solid #f59e0b;
    background-color:#241f1f;
    color:#f59e0b;
}

.profile-photo {
    width:100%;
    max-width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    display:block;
    padding-bottom:15px;

}

.details{
    display:flex;
    flex-direction: row;
    color:#94b8cc;
}


.details p:first-child {
    width:90px; /* fixed width for labels */
    font-weight:bold;
}   

.details p:last-child {
    flex:1; 
}


/* User Profile Builder */

#profileBuilder {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    padding:20px;
    margin-top:30px;
    width:80%;
    background-color:#081B2B;
    opacity: 0.9;
    border-radius:10px;
    /* Hidden cuz its appearing in the profiles page -> since theres a div in the html */
    display:none; 

    
}

#profileBuilder h1 {
    font-size:25px;
    font-weight:700;
    padding-bottom:0;
}

#profileBuilder p{
    font-style:italic;
}

/* Progress bar */
.progressContainer {
    width:100%;
    max-width:500px;
    height:10px;
    border-radius:10px;
    border:2px solid #e8f4f8;
    overflow:hidden;
    margin-top:10px;
}

.progressBar {
    height:100%;
    background-color:#4b91b4;
    width:0%;
    transition:width 0.3s ease-in-out;
}

.profile{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.profile-section {
    border: 2px solid #4b91b4;
    margin-bottom:20px;
    padding:20px;
    border-radius: 10px;
    cursor:pointer;
    display: none;
}

.save{
    display:none;
}

.profile-section:hover {
    transform:translateY(-6px) scale(1.01);
    box-shadow:0 10px 25px rgba(75, 145, 180, 0.3);
}

.profile-row{
    display:flex;
    flex-direction:row;
    gap:20px;
    line-height:40px;
    border-bottom:1px solid #e8f4f8; 
}

.profile-row p:first-child{
    width:500px;
    min-width:300px;
    font-weight:bold;
}