body{
    background-image: url('../assets/bg_image.jpeg');
    color:#e8f4f8;
    font-family:'Cinzel', serif;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
}

.box {
    fill: #081B2B;
    opacity:0.9;
    cursor:pointer;
}

.text {
    fill:#e8f4f8;
    text-anchor: middle;
    dominant-baseline: middle;
    font-size:14px;
}



/* Optional: center SVG */
svg {
    display: block;
    margin: 60px auto;

}

.box:hover {
    stroke: #4A86A3; 
    stroke-width: 3;
    opacity: 1;
    transition: 0.2s;
}

/* Focus effect (keyboard) */
a:focus rect {
    stroke: #e8f4f8; 
    stroke-width:2;
    opacity: 1;
    outline: none;
}