body{
    background-image:url("../assets/bg_image.jpeg");
}

.team_members{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center; 
}

.student{
    /*Size*/
    width: 250px;
    padding: 15px;

    /*Look*/
    background-color:rgb(13,27,42,0.9); 
    border-radius: 10px;
    border: 2px solid #1e3a5f;
    
    /*Text*/
    text-align: center;
    color: #d0dce8; 
    overflow: visible; 

    /*Trasitoning*/
    transition: all 0.3s ease;

    position: relative;
}

.student img{
    /*Size*/
    width: 100%;
    height: 220px;

    /*Look*/
    object-fit: cover; /*Ensures that the images will fits in the frame*/
    border-radius: 5px;

    /*Trasitoning*/
    transition: all 0.3s ease;
}

.student:hover {
    transform: scale(1.05); /*Image will be slightly bigger*/
    cursor:pointer;  
}

/*Hides the DETAILS by default*/
.student .details{
    display: none; 
    text-align: left; 
}

/*Shows the DETAILS on hover or focus*/
.student:hover .details,
.student:focus .details{
    display: block; 
}

/* Role "button" */
.role{
    display: inline-block;
    color: #d0dce8; 
    letter-spacing: 1px;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 12px; 
    font-weight:600;
    margin-top:2px; 
}

.role_1{
    background-color:transparent; 
    border-color:#C896FF; /*purple*/
    box-shadow:0px 0px 10px #C896FF;
}

.role_2{
    background-color:transparent;
    border-color: rgb(150, 200, 255);  /*blue*/
    box-shadow: 0px 0px 10px rgb(150, 200, 255);
}

.role_3{
    background-color:transparent;
    border-color: rgb(150, 255, 180);  /* green */
    box-shadow: 0px 0px 10px rgb(150, 255, 180);
}

.role_4{
    background-color:transparent;
    border-color: rgb(255, 180, 150);  /* orange */
    box-shadow: 0px 0px 10px rgb(255, 180, 150);
}

.row{
    display:flex;
    align-items: flex-start;
    margin-bottom: 14px;
}

.label{
    color: #d0dce8;
    font-weight: bold; 
    font-variant: small-caps;
    min-width: 100px; /*ensures that the values are aliged*/
    flex-shrink:0; /*makes sure the content doesnt skrink to fit*/
}

.value{
    color: #d0dce8; 
    font-variant: small-caps;
    line-height: 1.5;
}